
<h2>Mission</h2>
<p>To awaken the dreamers, the burden-bearers, and the kind. To write the Book as it should have been written. Together.</p>
<ul>
  <li><a href="#">About</a></li>
  <li><a href="#">Creed</a></li>
  <li><a href="#">Submit/Edit</a></li>
  <li><a href="#">Discord</a></li>
  <li><a href="#">GoFundMe</a></li>
</ul>
